<div class="row my-3 navbar">
    <div class="col d-flex justify-content-center">
        <ul class="d-flex justify-content-center">
            <li><a href="#" class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a></li>
            <li><a href="#" class="link" routerLinkActive="active-link" routerLink="/main">Main</a></li>
            <li><a href="#" class="link" routerLinkActive="active-link" routerLink="/vision">Vision</a></li>
            <li><a href="#" class="link" routerLinkActive="active-link" routerLink="/prize">Prize</a></li>
            <li><a href="#" class="link" routerLinkActive="active-link" routerLink="/about">About</a></li>
        </ul>
    </div>
</div>