.message-box{
    position: fixed;
    top:0;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 1000;
    box-shadow: 0px 0px 1005px 85px black;
    width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.329);
    background-color:white ;
}
.messageFoot{
    position:absolute;
    bottom: 0;
    width: 100%;
    height:40px;
    padding-bottom: 55px;
    padding-top: 15px;
    background-color: #333;
    
}
.message-form{
    border-radius:10px;
    width:70%; 
    border:0px;
    border-bottom: 1px solid black;
    padding: 5px;
    padding-left: 20px;
}
.message-area{
    overflow-y:scroll;
    background:url("https://image.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg");
    height:85vh;
    border-radius: 25px;
    padding: 35px;
    color: black;
    border: 2px solid rgba(51, 51, 51, 0.788);
    margin: 15px;
    
}

.message-area::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
 .message-area ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }